<div class="main-footer-container">
    <div class="width-50">
        <div class="send-mail">
            <span class="sour-gummy-bold f-xlarger">{{'FOOTER.HELLO' | translate}}</span>
            <form [formGroup]="eForm">
                <div>
                    <label class="form-label required">{{'FOOTER.NAME' | translate}}</label>
                    <input type="text" class="form-control" formControlName="name" [(ngModel)]="eForm['name']"
                        placeholder="Name" aria-label="Name" aria-describedby="#">
                </div>
                <div *ngIf="f.name.errors && f.name.dirty" class="color-red">
                    <span *ngIf="f.name.errors?.required">
                        {{'FOOTER.ERRORMSG.NAME' | translate}}
                    </span>
                </div>
                <div>
                    <label class="form-label">{{'FOOTER.EMAIL' | translate}}</label>
                    <input type="text" class="form-control" formControlName="email" [(ngModel)]="eForm['email']"
                        placeholder="Email" aria-label="Email" aria-describedby="#">
                </div>
                <div *ngIf="f.email.errors && f.email.dirty" class="color-red">
                    <span *ngIf="f.email.errors?.required">
                        {{'FOOTER.ERRORMSG.EMAIL' | translate}}
                    </span>
                </div>
                <div>
                    <label class="form-label">{{'FOOTER.MESSAGE' | translate}}</label>
                    <input type="text" class="form-control" formControlName="message" [(ngModel)]="eForm['message']"
                        placeholder="Message" aria-label="Message" aria-describedby="#">
                </div>
                <div *ngIf="f.message.errors && f.message.dirty" class="color-red">
                    <span *ngIf="f.message.errors?.required">
                        {{'FOOTER.ERRORMSG.MESSAGE' | translate}}
                    </span>
                </div>
                <div>
                    <button class="button-50 my-1" role="button" (click)="sendMail()">{{'FOOTER.SENDBTN' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
    <div class="footer-contact">
        <div>
            <div class="column-flex">
                <span class="roboto-bold f-xlarger">{{'FOOTER.VISIT' | translate}}</span>
                <span class="contact-detail"></span>
            </div>
            <div class="column-flex">
                <span class="contact-class roboto-semi-bold">{{'FOOTER.CONTACT' | translate}}</span>
                <span class="my-1">
                    <em class="fa fa-phone contact-detail mx-1"></em>
                    <span class="contact-detail">91-7978931892</span>
                </span>
                <span class="my-1">
                    <em class="fa fa-envelope contact-detail mx-1"></em>
                    <span class="contact-detail">anshuman3127@gmail.com</span>
                </span>
            </div>
        </div>
    </div>
</div>