.main-footer-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 1rem;
    background-color: #e8ecf3;
}

.send-mail {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-detail {
    color: #6d6d6d;
}
.contact-class {
    font-size: larger;
    margin-top: 1rem;
}

.width-50 {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .width-50 {
    width: 100%;
  }

  .main-footer-container {
    flex-direction: column;
  }
  .footer-contact {
    margin-block: 20px;
  }
}
