.main-container {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
    background: var(--main-bar);
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    margin-inline: 1rem;
}

.active {
    color: var(--primary-text-hover);
}

.label-font:hover {
    color: var(--primary-text-hover);
}