.main-container {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 50px;
    background: var(--main-bar);
    position: relative;
}

.lang-container {
    position: absolute;
    top: 4rem;
    right: 1rem;
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    margin-inline: 1rem;
}

.active {
    color: var(--primary-text-hover);
}

.label-font:hover {
    color: var(--primary-text-hover);
}