.container {
  margin-block: 10px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .title-content {
    background-color: var(--primary-text-hover);
    color: var(--white-color);
    border-radius: 20px;
    padding: 7px;
  }

}

.skill-body {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;

  .each-card {
    min-width: 220px;
    background: var(--card-background);
  }

  .card {

    .card-image-title {
      display: flex;
      gap: 10px;
      background: var(--card-title-bar);
      border-radius: 5px;
    }

    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
    }
  }

  .range-container {
    height: 10px;
    border: 1px solid #dbdfe2;
    border-radius: 10px;
    .range-data {
      border-radius: 10px;
      height: 9px;
      background-color: var(--primary-text-hover);
    }
  }
}

@media (min-width: 1025px) and (max-width: 1444px) {
    /* Styles for laptops and small screens */
  }

@media only screen and (max-width: 600px) {
    // styles for mobile
}

  @media (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablets */
  }

