<div class="container">
    <div class="title">
        <div class="title-content"><em class="fa fa-building-o mx-1"></em>Professional Experience</div>
    </div>

    <div class="exp-main-body">
        <div class="column-flex p-2 comp-title bdr-rad">
            <span class="roboto-bold">Rockwell Automation</span>
            <span class="sub-text">2022 - Current</span>
        </div>
        <div class="bg-white bdr-rad mx-2">
            <ul>
                <ng-container *ngFor="let item of expData">
                    <li class="each-skill">
                        {{item.label}}
                    </li>
                </ng-container>
            </ul>
        </div>
        <div class="project-container mx-2">
            <span class="project-title p-2 bdr-rad roboto-bold">Projects</span>
            <div class="bg-white bdr-rad p-2">
                <ng-container *ngFor="let each_project of projectData">
                    <span class="roboto-bold">{{each_project.title}}</span>
                    <ul>
                        <ng-container *ngFor="let each_data of each_project.info">
                            <li>{{each_data.label}}</li>
                        </ng-container>
                    </ul>
                </ng-container>
            </div>
        </div>
    </div>
</div>