<div class="main-container d-flex">
    <div [ngClass]="isCollapse ? 'collapse-bar': 'expand-bar'">
        <app-side-bar [isCollapse]="isCollapse" (sidebarEmitter)="emittedValue($event)"></app-side-bar>
    </div>
    <div [ngClass]="isCollapse ? 'chart-expand': 'chart-collapse'">
        <ng-container *ngIf="activeMenu === 'echart'">
            <app-echart-ui></app-echart-ui>
        </ng-container>
        <ng-container *ngIf="activeMenu === 'aggrid'">
            <app-ag-grid></app-ag-grid>
        </ng-container>
        <ng-container *ngIf="activeMenu === 'tree_component'">
            <app-explorer-tree></app-explorer-tree>
        </ng-container>
    </div>
</div>