<div class="main-container">
    <ng-container *ngIf="activeMenu === 'home'">
        <app-home-menu></app-home-menu>
    </ng-container>
  <ng-container *ngIf="activeMenu === 'skills'">
    <app-skill></app-skill>
  </ng-container>
  <ng-container *ngIf="activeMenu === 'experience'">
    <app-experience></app-experience>
  </ng-container>
  <ng-container *ngIf="activeMenu === 'home'">
    <app-footer></app-footer>
  </ng-container>
  <ng-container *ngIf="activeMenu === 'elements'">
    <app-elements></app-elements>
  </ng-container>
</div>
