.chart-container {
  width: 100%;
}

.echart-area {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;
  gap: 5px;
}

.shadow {
  box-shadow: 4px 7px 8px rgba(0, 0, 0, 0.2);
}

.echart-card {
  flex: 1 1 33%;
  min-width: 300px;
  max-height: fit-content;

  .echart-bg {
    background-color: #fff;
  }
}