.chart-container {
  width: 100%;
  min-height: 350px;
}

.echart-area {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;
}

.shadow {
  box-shadow: 4px 7px 8px rgba(0, 0, 0, 0.2);
}

.echart-card {
  padding: 5px;
  flex: 1 1 400px;

  .echart-bg {
    background-color: #fff;
  }
}