<div>
    <div class="container">
        <div class="main-content">
            <div class="profile">
                <img class="image img-1" src="assets/profile-2.jpeg">
                <img class="image img-2" src="assets/profile-3.jpeg">
            </div>
            <div class="profile-label">
                <span class="sour-gummy-bold name">{{ 'PROFILE.NAME' | translate }}</span>
                <div class="contact">
                    <em (click)="contactClick('git')" class="fa fa-github"></em>
                    <em (click)="contactClick('linkedin')" class="fa fa-linkedin"></em>
                </div>
                <span class="home-bio">{{ 'PROFILE.DESC' | translate }} 
                </span>
                <button (click)="viewResume()" type="button" class="button-29 w-fit"><em
                        class="fa fa-eye mx-1"></em>{{ 'PROFILE.RESUME' | translate }}</button>
                <i class="fa-brands fa-angular"></i>
            </div>
        </div>
    </div>
</div>