.contaiiner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px);
}

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 70%;
    z-index: 10;

    .name {
        font-size: 45px
    }
}

.pdf-container {
    display: flex;
    z-index: 5;
    width: 55%;
    height: 100%;

    .fa {
        background-color: var(--secondary);
        height: max-content;
        padding: 5px;
    }

    .fa:hover {
        background-color: var(--secondary-hover);
        cursor: pointer;
    }

    .zoom-btn {
        display: flex;
        flex-direction: column;
        height: max-content;
        justify-content: center;
        align-items: center;
        gap: 5px;

        .fa {
            border-radius: 50%;
        }
    }
}

.profile {
    position: relative;
    width: 400px;
    height: 500px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

    .image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        opacity: 0;
        /* Initially hidden */
    }
}


/* Image 1 animation */
.img-1 {
    animation-name: blink-1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 0;
    /* Image 1 starts first */
}

/* Image 2 animation */
.img-2 {
    animation-name: blink-2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 50%;
    /* Image 2 starts after 5 seconds */
}

@keyframes blink-1 {

    0%,
    50% {
        opacity: 1;
        /* Image 1 stays visible for 5s */
    }

    51%,
    100% {
        opacity: 0;
        /* Image 1 fades out in 1s */
    }
}

/* Image 2 keyframes (visible for 5s, fades for 1s) */
@keyframes blink-2 {

    0%,
    50% {
        opacity: 0;
        /* Image 2 stays hidden until it's time */
    }

    51%,
    100% {
        opacity: 1;
        /* Image 2 fades in and stays visible for 5s */
    }
}

.profile-label {
    display: flex;
    flex-direction: column;
    max-width: 50%;

    .home-bio {
        color: #959595;
        font-size: small;
        margin-block: 1rem;
    }

    .contact {
        display: flex;
        gap: 5px;

        em {
            padding: 5px;
            border: 1px solid;
            border-radius: 10px;
        }

        em:hover {
            background-color: #2f7cb5;
            color: #fff;
            cursor: pointer;
        }
    }
}


@media (min-width: 1025px) and (max-width: 1444px) {
    /* Styles for laptops and small screens */

    .main-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: 100%;
        z-index: 10;

        .name {
            font-size: 45px
        }
    }
  }

@media only screen and (max-width: 600px) {
  .main-content {
    flex-direction: column;
    width: 100%;

    .name {
      font-size: 30px;
    }
  }
  .profile {
    width: 180px;
    height: 170px;
  }
  .profile-label {
    max-width: 100%;
    padding-inline: 15px;
    align-items: center;
    justify-content: center;
  }

}

  @media (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablets */
    .main-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        width: 80%;
        z-index: 10;

        .name {
            font-size: 45px
        }
    }
  }
