/* You can add global styles to this file, and also import other style files */
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

@import "./variable";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

* {
    box-sizing: border-box;
  }

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
    font-family: "Roboto", serif;
  }

.roboto-regular {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.roboto-medium {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.roboto-semi-bold {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.roboto-bold {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.roboto-extra-bold {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.sour-gummy-regular {
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.sour-gummy-bold {
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.w-fit {
    width: fit-content;
}

.f-xlarger {
    font-size: x-large;
}

.w-50 {
    width: 50%;
}

.column-flex {
    display: flex;
    flex-direction: column;
}

.color-red {
    color: red;
}
.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
